In [2]:
#Q1: Create one variable containing following type of data:
#(i) string
str1 = "hello"
print(type(str1))

#(ii) list
list1 =[1,2,3]
print(type(list1))

#(iii) float
float1= 10.5
print(type(float1))

#(iv) tuple
tuple1=(1,2,3)
print(type(tuple1))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [3]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
var1 = ''
print(type(var1))

#(ii) var2 = ‘[ DS , ML , Python]’
var2 = '[ DS , ML , Python]'
print(type(var2))

#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))

#(iv) var4 = 1.
var4 = 1
print(type(var4))

#What will be the data type of the above given variable.

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [4]:
#Q3. Explain the use of the following operators using an example:
a=15
b=2

#(i) /
print(a/b)
#this divide will provide answer as float or we can say exact answer (7.5).

#(ii) %
print(a%b)
# this operator is modulus and helps in getting the remainder of a division (1).

#(iii) //
print(a//b)
#this is floor division which gives back floor value after division(7).

#(iv) **
print(a**b)
# this operator is exponentiation and it helps in providing powers (225).

7.5
1
7
225

In [7]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print theelement and its data type.
ListOf10= [1,2.5,5,"gobind", [10,20,30],5j,True, False,'hello',3.14]
for i in ListOf10:
    print(i,'\t\t',type(i))

1 		 <class 'int'>
2.5 		 <class 'float'>
5 		 <class 'int'>
gobind 		 <class 'str'>
[10, 20, 30] 		 <class 'list'>
5j 		 <class 'complex'>
True 		 <class 'bool'>
False 		 <class 'bool'>
hello 		 <class 'str'>
3.14 		 <class 'float'>

In [11]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
A= int(input("enter value for A : "))
B = int(input("enter value for B : "))
c=0

if (A%B==0):
    while (A%B==0):
        c+=1
        A/=B
    print("purely divisble",c,'times')
else:
    print("not purely divisible")

enter value for A :  64
enter value for B :  2

purely divisble 6 times

In [13]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
listof25 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in listof25:
    if (i%3==0):
        print(i,"is divisible by 3")
    else:
        print(i, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [14]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#mutable datatypes are those data types whose elements can be modified. for ex- list
list7= [1,2,3]
list7[0]=10
print(list7)
#now the element at 0 index will be replaced or modified to 10

# whereas the immutable datatypes are opposite of mutable which simply means that elements can't be modified ex- string
str7="gobind"
str7[0]='G'
# the above line will lead to error as the element in a string cannot be changed, instead the whole string has to replaced.

[10, 2, 3]

TypeError: 'str' object does not support item assignment